# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore environment-specific files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore compiled output
*.class
*.jar
*.war
*.ear

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db